USE [master]
GO
/****** Object:  Database [Socura]    Script Date: 05.06.2026 11:44:00 ******/
CREATE DATABASE [Socura]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Socura', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Socura.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Socura_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Socura_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Socura].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Socura]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05.06.2026 11:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[registration_date] [datetime] NULL,
	[last_login] [datetime] NULL,
	[is_active] [bit] NULL,
	[role] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 05.06.2026 11:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[enrollment_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[enrollment_date] [datetime] NULL,
	[progress_percentage] [decimal](5, 2) NULL,
	[completed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[enrollment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [unique_user_course] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ActiveStudents]    Script Date: 05.06.2026 11:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ActiveStudents] AS
SELECT 
    u.user_id,
    u.username,
    u.full_name,
    u.email,
    COUNT(e.enrollment_id) AS active_courses,
    MAX(e.enrollment_date) AS last_activity
FROM Users u
JOIN Enrollments e ON u.user_id = e.user_id
WHERE u.is_active = 1 AND u.role = 'student'
GROUP BY u.user_id, u.username, u.full_name, u.email;
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 05.06.2026 11:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[category] [nvarchar](100) NULL,
	[difficulty] [nvarchar](20) NULL,
	[price] [decimal](10, 2) NULL,
	[duration_hours] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[description] [nvarchar](max) NULL,
	[instructor_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[CoursePopularity]    Script Date: 05.06.2026 11:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CoursePopularity] AS
SELECT 
    c.course_id,
    c.title,
    c.category,
    COUNT(e.enrollment_id) AS enrollments,
    AVG(CAST(e.progress_percentage AS FLOAT)) AS avg_progress
FROM Courses c
LEFT JOIN Enrollments e ON c.course_id = e.course_id
GROUP BY c.course_id, c.title, c.category;
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 05.06.2026 11:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[lesson_id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[lesson_order] [int] NOT NULL,
	[content_type] [nvarchar](20) NULL,
	[video_url] [nvarchar](500) NULL,
	[audio_url] [nvarchar](500) NULL,
	[duration_minutes] [int] NULL,
	[is_free_preview] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[lesson_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [unique_course_lesson_order] UNIQUE NONCLUSTERED 
(
	[course_id] ASC,
	[lesson_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizResults]    Script Date: 05.06.2026 11:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizResults](
	[result_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[lesson_id] [int] NOT NULL,
	[score] [int] NULL,
	[total_questions] [int] NOT NULL,
	[correct_answers] [int] NULL,
	[passed] [bit] NULL,
	[attempt_number] [int] NULL,
	[started_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_courses_category]    Script Date: 05.06.2026 11:44:01 ******/
CREATE NONCLUSTERED INDEX [idx_courses_category] ON [dbo].[Courses]
(
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_courses_difficulty]    Script Date: 05.06.2026 11:44:01 ******/
CREATE NONCLUSTERED INDEX [idx_courses_difficulty] ON [dbo].[Courses]
(
	[difficulty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_courses_instructor]    Script Date: 05.06.2026 11:44:01 ******/
CREATE NONCLUSTERED INDEX [idx_courses_instructor] ON [dbo].[Courses]
(
	[instructor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_enrollments_course]    Script Date: 05.06.2026 11:44:01 ******/
CREATE NONCLUSTERED INDEX [idx_enrollments_course] ON [dbo].[Enrollments]
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_enrollments_user]    Script Date: 05.06.2026 11:44:01 ******/
CREATE NONCLUSTERED INDEX [idx_enrollments_user] ON [dbo].[Enrollments]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_lessons_course]    Script Date: 05.06.2026 11:44:01 ******/
CREATE NONCLUSTERED INDEX [idx_lessons_course] ON [dbo].[Lessons]
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_lessons_order]    Script Date: 05.06.2026 11:44:01 ******/
CREATE NONCLUSTERED INDEX [idx_lessons_order] ON [dbo].[Lessons]
(
	[lesson_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_quiz_lesson]    Script Date: 05.06.2026 11:44:01 ******/
CREATE NONCLUSTERED INDEX [idx_quiz_lesson] ON [dbo].[QuizResults]
(
	[lesson_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_quiz_passed]    Script Date: 05.06.2026 11:44:01 ******/
CREATE NONCLUSTERED INDEX [idx_quiz_passed] ON [dbo].[QuizResults]
(
	[passed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_quiz_user]    Script Date: 05.06.2026 11:44:01 ******/
CREATE NONCLUSTERED INDEX [idx_quiz_user] ON [dbo].[QuizResults]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_users_email]    Script Date: 05.06.2026 11:44:01 ******/
CREATE NONCLUSTERED INDEX [idx_users_email] ON [dbo].[Users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_users_role]    Script Date: 05.06.2026 11:44:01 ******/
CREATE NONCLUSTERED INDEX [idx_users_role] ON [dbo].[Users]
(
	[role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_users_username]    Script Date: 05.06.2026 11:44:01 ******/
CREATE NONCLUSTERED INDEX [idx_users_username] ON [dbo].[Users]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ('Цифровая безопасность') FOR [category]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ('Начальный') FOR [difficulty]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0.00)) FOR [price]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [duration_hours]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [enrollment_date]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT ((0.00)) FOR [progress_percentage]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT ('video') FOR [content_type]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT ((0)) FOR [duration_minutes]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT ((0)) FOR [is_free_preview]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[QuizResults] ADD  DEFAULT ((0)) FOR [score]
GO
ALTER TABLE [dbo].[QuizResults] ADD  DEFAULT ((0)) FOR [correct_answers]
GO
ALTER TABLE [dbo].[QuizResults] ADD  DEFAULT ((0)) FOR [passed]
GO
ALTER TABLE [dbo].[QuizResults] ADD  DEFAULT ((1)) FOR [attempt_number]
GO
ALTER TABLE [dbo].[QuizResults] ADD  DEFAULT (getdate()) FOR [started_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [registration_date]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('student') FOR [role]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([instructor_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([course_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([course_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuizResults]  WITH CHECK ADD FOREIGN KEY([lesson_id])
REFERENCES [dbo].[Lessons] ([lesson_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuizResults]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD CHECK  (([difficulty]='Эксперт' OR [difficulty]='Продвинутый' OR [difficulty]='Средний' OR [difficulty]='Начальный'))
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD CHECK  (([duration_hours]>(0)))
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD CHECK  (([progress_percentage]>=(0) AND [progress_percentage]<=(100)))
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD CHECK  (([content_type]='interactive' OR [content_type]='quiz' OR [content_type]='text' OR [content_type]='audio' OR [content_type]='video'))
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD CHECK  (([duration_minutes]>=(0)))
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD CHECK  (([lesson_order]>(0)))
GO
ALTER TABLE [dbo].[QuizResults]  WITH CHECK ADD CHECK  (([attempt_number]>(0)))
GO
ALTER TABLE [dbo].[QuizResults]  WITH CHECK ADD CHECK  (([score]>=(0)))
GO
ALTER TABLE [dbo].[QuizResults]  WITH CHECK ADD CHECK  (([total_questions]>(0)))
GO
ALTER TABLE [dbo].[QuizResults]  WITH CHECK ADD CHECK  (([correct_answers]>=(0) AND [correct_answers]<=[total_questions]))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([role]='moderator' OR [role]='admin' OR [role]='instructor' OR [role]='student'))
GO
USE [master]
GO
